.color-333 {
	color: #333;
}
.color-666 {
	color: #666;
}
.color-999 {
	color: #999;
}
.color-fff {
	color: #fff;
}
.color-red {
	color: #CB242B;
}
.u-read-more p {
	color: #333 !important;
	font-size: 28rpx !important;
}

.text-center  {
	text-align: center;
}
.inline-block {
	display: inline-block;
}
.visible-hidden {
	visibility: hidden;
}
.ml-auto {
	margin-left: auto;
}
.mr-auto {
	margin-right: auto;
}
.m-auto {
	margin: 0 auto;
}
.slot-content {
	width: 100%;
}
.flex-start {
	justify-content: flex-start !important;
}
.vl-middle {
	vertical-align: middle;
}
.border-circle {
	border-radius: 50%;
}
.border-none {
	border: none !important;
}
.u-button--primary {
	border: none !important;
}

.lx-btn-wrap button,
.lx-btn {
	color: #fff !important;
	background-color: $color-red !important;
	width: 174rpx !important;
	height: 76rpx !important;
	line-height: 76rpx !important;
	border-radius: 60rpx !important;
	text-align: center !important;
	font-size: 28rpx !important;
	letter-spacing: 2rpx !important;
	&.plain {
		background-color: #fff !important;
		border: 1rpx solid $color-red !important;
		color: $color-red !important;
	}
	&.gray {
		background-color: #fff !important;
		border: 1rpx solid #999 !important;
		color: #333 !important;
	}
	&.block {
		width: 100%;
	}
}
.lx-btn-80 button {
	width: 80% !important;
}
.lx-btn-90 button {
	width: 90% !important;
}
.gradient {
	width: 8rpx;
	height: 40rpx;
	background: linear-gradient(to bottom, #ec2c32, #ffb3a2 70%);
	margin-right: 10rpx;
}
.wf-wrap {
	border-bottom-left-radius: 8rpx;
	border-bottom-right-radius: 8rpx;
	border: 1rpx solid #F2F2F2;
	border-top: none;
	padding: 10rpx;
	.info {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.info-panel {
	background-color: #fff;
	padding: 20rpx;
	.title {
		display: flex;
		align-items: center;
	}
	.info {
		padding-top: 20rpx;
		.item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10rpx 0;
			.circle {
				width: 12rpx;
				height: 12rpx;
				background-color: #999999;
				border-radius: 50%;
			}
			.title {
				color: #999;
				font-size: 28rpx;
			}
			.data {
				font-size: 28rpx;
			}
		}
	}
}
.uni-checkbox .uni-checkbox-input {
	border:1px solid #BC292D !important;
	border-radius: 50% !important;
}

.uni-checkbox .uni-checkbox-input-checked {
	border:1px solid #BC292D !important;
	background-color: #BC292D !important;
	color:#fff !important;
}
@for $i from 0 through 500 {
  .pd-#{$i} {
    padding: 1rpx * $i !important;
  }
  .mg-#{$i} {
    margin: 1rpx * $i !important;
  }
  .mt-#{$i} {
    margin-top: 1rpx * $i !important;
  }
  .mr-#{$i} {
    margin-right: 1rpx * $i !important;
  }
  .mb-#{$i} {
    margin-bottom: 1rpx * $i !important;
  }
  .ml-#{$i} {
    margin-left: 1rpx * $i !important;
  }
  .pt-#{$i} {
    padding-top: 1rpx * $i !important;
  }
  .pr-#{$i} {
    padding-right: 1rpx * $i !important;
  }
  .pb-#{$i} {
    padding-bottom: 1rpx * $i !important;
  }
  .pl-#{$i} {
    padding-left: 1rpx * $i !important;
  }
  .lh-#{$i} {
    line-height: 1rpx * $i !important;
  }
  .text-indent-#{$i} {
    text-indent: 1rpx * $i !important;
  }
  .lt-s-#{$i} {
	  letter-spacing: 1rpx * $i !important;
  }
  .fz-#{$i} {
    font-size: 1rpx * $i !important;
  }
  .fw-#{$i} {
    font-weight: 1 * $i !important;
  }
  .w-#{$i} {
    width: 1rpx * $i !important;
  }
  .wb-#{$i} {
    width: 1% * $i !important;
  }
  .h-#{$i} {
    height: 1rpx * $i !important;
  }
}

.fw-500 {
	font-weight: bold !important;
}